

.inputStyle{border-bottom-width:1px;border-bottom-style:double;border-bottom-color: #999999;font-size: 12px;font-style: normal;border:0
	line-height: 12px;font-weight: normal;font-variant: normal;color: #333333;text-decoration: none;border-top-width: 1px;border-right-width: 1px;
	border-left-width: 1px;border-top-style: double;border-right-style: double;border-left-style: double;border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;border-left-color: #FFFFFF;
}

